<div class="col-xl-12">
  <app-card cardTitle="Tenant Infomation" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Tenant Name</th>
          <th>Rental Unit</th>
          <th>Contact</th>
          <th>Water Bill</th>
          <th>Electricity Bill</th>
          <th>Unit Bill</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
        </tr>
        <tr>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
        </tr>
        <tr>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
          <td>Value</td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

