<div class="col-xl-12">
  <app-card cardTitle="Appartment Inventory" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>N.O</th>
          <th>Appartment</th>
          <th>Pending Amount</th>
          <th>Payed Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kiliapt</td>
          <td>-15,000ksh</td>
          <td>200,000ksh</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Laviapt</td>
          <td>-30,000ksh</td>
          <td>240,000ksh</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Rossville</td>
          <td>-40,000ksh</td>
          <td>450,000ksh  </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-danger">Add Property</button>
  </app-card>
</div>

<div class="col-xl-12">
  <app-card cardTitle="Offices Inventory" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>N.O</th>
          <th>Appartment</th>
          <th>Pending Amount</th>
          <th>Payed Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kiliapt</td>
          <td>-15,000ksh</td>
          <td>200,000ksh</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Laviapt</td>
          <td>-30,000ksh</td>
          <td>240,000ksh</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Rossville</td>
          <td>-40,000ksh</td>
          <td>450,000ksh  </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-danger">Add Property</button>
  </app-card>
</div>

<div class="col-xl-12">
  <app-card cardTitle="Houses Inventory" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>N.O</th>
          <th>Appartment</th>
          <th>Pending Amount</th>
          <th>Payed Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kiliapt</td>
          <td>-15,000ksh</td>
          <td>200,000ksh</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Laviapt</td>
          <td>-30,000ksh</td>
          <td>240,000ksh</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Rossville</td>
          <td>-40,000ksh</td>
          <td>450,000ksh  </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-danger">Add Property</button>
  </app-card>
</div>

<div class="col-xl-12">
  <app-card cardTitle="Land Inventory" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>N.O</th>
          <th>Appartment</th>
          <th>Pending Amount</th>
          <th>Payed Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Kiliapt</td>
          <td>-15,000ksh</td>
          <td>200,000ksh</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Laviapt</td>
          <td>-30,000ksh</td>
          <td>240,000ksh</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Rossville</td>
          <td>-40,000ksh</td>
          <td>450,000ksh  </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-danger">Add Property</button>
  </app-card>
</div>